body {
	background-color: #d7d9e0;
	margin: 0;
}

#links {
	position: absolute; top: 0;
	z-index: -1;
	width: 78%;
	height: 70px;
	text-align: right;
	background-color: white;
	line-spacing: 40px;
	font-size: 120%
	color: grey;
	padding-right: 550px;
	padding-top: 20px;
	border-bottom: 5px;
	border-bottom-color: #ccc;
}

#name {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 250%;
	color: white;
	width: 24%;
	height: 65px;
	text-align: center;
	margin-left: 320px;
	margin-bottom: 30px;
	padding-top: 25px;
}

hr {
    	display: block;
    	height: 1px;
    	border: 0;
    	border-top: 1px 
    	solid #ccc;
    	margin: 1em 0;
    	padding: 0;
}

hr2 {
    	display: block;
    	height: 8px;
    	border: 0;
    	border-top: 1px 
    	solid #ccc;
    	margin: 1em 0;
    	padding: 0;
}

#about_me {
	width: 650px;
	height: 500px;
	background-color: white;
	padding: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 320px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 120%;
}

#connect {
	width: 255px;
	height: 175px;
	background-color: white;
	padding: 20px;
	float: right;
	margin-right: 320px;
	margin-top: 60px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

img {
	float: left;
	margin: 22px;
}

#footer {
	position: absolute; bottom: 0px; 
	clear: all;
	width: 110%;
	background-color: #666666;
	text-align: center;
	color: grey;
	margin-right: 0;
	padding: 40px;
	border: 40px;
	border-color: #4aaaa5;
}